html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px; /* Margin bottom by footer height */
}

#header{
	background-color: #00BFFF;
	min-height:100vh;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 100px; /* Set the fixed height of the footer here */
	line-height: 100px; /* Vertically center the text there */
    background-color: #00BFFF;
	border: 2px solid black;
}

h1{
	font-size: 40pt;
	font-family: Georgia, Times, serif;
	font-weight: normal;
	
	text-align: center;
}

.test-container{
	border: 2px solid black;
	background-color: pink;
}

.skills{
	margin-bottom: 10px;
	max-width: 850px;
	
}

.skill-box{
	border: 1px solid black;
	background-color: white;
	text-align: center;
	min-width: 200px;
	max-width:300px;
	height: 250px;
	
	
}

.skill-box h3{
	font-size: 10pt;
	font-family: Georgia, Times, serif;
	font-weight: normal;	
	
}

.skill-logo{
	width: 80px;'
}
	
