html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 160px; /* Margin bottom by footer height */
	font-family: Georgia, Times, serif;
	font-weight: normal;
	text-align: center;
}

#header{
	background-color: #00BFFF;
	min-height:100vh;
	padding-top: 30vh;
	font-family: 'Bangers', cursive;
	font-size: 120px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 150px; /* Set the fixed height of the footer here */
    background-color: #00BFFF;
}

h1{
	font-size: 40pt;
}

ul{
	padding: 0;
}

li{
	text-align: justify;
}

.sect{
	background-color: PINK;
	font-size: 20pt;
}

.skill-box{
	min-width: 200px;
	max-width:300px;
	margin: 3px;
	
}

.skill-box h2{
	font-size: 10pt;
	
}

.skill-logo{
	width: 80px;'
}
	
.my-carousel{
	max-width:600px;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 10px;
	padding: 0px 5px;
}